<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rest Api JSON Parsing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54BE6D7D1F285996001293FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54BE6D911F285997001293FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54BE6D9C1F285997001293FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
